@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="light"]{
        --color-primary: #f9f9f9;
        --color-secondary: #ffffff;
        color: black;
    }
}

@layer base {
    html[data-theme="dark"] {
        --color-primary: #1d232a;
        --color-secondary: #191e24;
        color: white;
    }
}

:root{
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
    display: block;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color-primary);
    z-index: 15;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
    z-index: 15;

}

.rotateSVG{
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
}

